$main-light: #ededed;
$primary: #86A4D6;

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 4em;
  font-family: Montserrat, sans-serif;
  height: 100vh;
  background: $main-light;
}
header{
  padding-top: 3em;
  text-align: center;
  h1{
    margin-top: 0;
    font-size: 4rem;
    color: $primary;
  }
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 50%;
  margin: 5% auto 0 auto;
}
.modes{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  grid-gap: 25px;
}
.modes > *:last-child{
  grid-column: 1/-1;
}
.modeSelect{
  padding: 2em 3em;
  background: $main-light;
  border: none;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  color: $primary;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.modeSelect:hover{
  transform: scale(1.05);
}
label{
  width: 100%;
  margin-top: 1em;
  font-size: 1.3rem;
}
.var-input{
  padding: .75em 2em .75em 1em;
  width: 100%;
  margin-top: .5em;
  border: 2px solid $primary;
  border-radius: 6px;
  font-family: Montserrat ,sans-serif;
  font-size: 1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.smallInput{
  width: 15%;
}
.submitBtn{
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  font-weight: bolder;
  color: $main-light;
  background: $primary;
  border: none;
  padding: 1em 1.5em;
  border-radius: 6px;
}
.result{
  border: 3px solid $primary;
  border-radius: 6px;
  padding: .5em 2em;
}
#res{
  display: none;
}